<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
 
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://sca.jpeojtrs.mil/partitioning">
         <metamodelType
               eclass="FindByStub"
               edithelper="gov.redhawk.diagram.edit.helpers.FindByStubEditHelper"
               id="mil.jpeojtrs.sca.partitioning.diagram.FindByStub_12002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="%metamodelType.name">
            <param
                  name="semanticHint"
                  value="12002">
            </param>
         </metamodelType>
         <metamodelType
               eclass="NamingService"
               edithelper="gov.redhawk.diagram.edit.helpers.NamingServiceEditHelper"
               id="mil.jpeojtrs.sca.partitioning.diagram.NamingService_13011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="%metamodelType.name.0">
            <param
                  name="semanticHint"
                  value="13011">
            </param>
         </metamodelType>
         <metamodelType
               eclass="DomainFinder"
               edithelper="gov.redhawk.diagram.edit.helpers.DomainFinderEditHelper"
               id="mil.jpeojtrs.sca.partitioning.diagram.DomainFinder_13012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               name="%metamodelType.name.1">
            <param
                  name="semanticHint"
                  value="13012">
            </param>
         </metamodelType>
      </metamodel>
   </extension>
   
      <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="false"
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider">
         <Priority
               name="Low">
         </Priority>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
         	<popupStructuredContributionCriteria objectClass="gov.redhawk.diagram.edit.parts.DomainFinderEditPart"/>
         	<popupStructuredContributionCriteria objectClass="gov.redhawk.diagram.edit.parts.NamingServiceEditPart"/>
         	<popupStructuredContributionCriteria objectClass="gov.redhawk.diagram.edit.parts.FindByStubEditPart"/>
         	<popupStructuredContributionCriteria objectClass="gov.redhawk.diagram.edit.parts.FindByStubCompartmentEditPart"/>
         	<popupPredefinedItem
                id="deleteFromDiagramAction"
                remove="true">
         	</popupPredefinedItem>
         </popupContribution>
      </contributionItemProvider>
   </extension>
  

</plugin>
