<?xml version="1.0" encoding="UTF-8"?>
<!--
  REDHAWK HEADER
  
  Identification: $Revision: 8057 $
-->
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://sca.jpeojtrs.mil/prf">
         </package>
         <constraints
               categories="gov.redhawk.validation.category">
            <constraint
                  class="gov.redhawk.validation.prf.DuplicatePropertyNameConstraint"
                  id="gov.redhawk.validation.constraint.prf.dupName"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="%constraint.name"
                  severity="WARNING"
                  statusCode="2">
               <message>
                  %constraint.message
               </message>
               <target
                     class="Simple">
                  <event
                        name="Set">
                     <feature
                           name="name">
                     </feature>
                  </event>
               </target>
               <target
                     class="SimpleSequence">
                  <event
                        name="Set">
                     <feature
                           name="name">
                     </feature>
                  </event>
               </target>
               <target
                     class="Struct">
                  <event
                        name="Set">
                     <feature
                           name="name">
                     </feature>
                  </event>
               </target>
               <target
                     class="StructSequence">
                  <event
                        name="Set">
                     <feature
                           name="name">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.validation.prf.ValidValueTypeConstraint"
                  id="gov.redhawk.prf.validation.constraint.ValueType"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="%constraint.name.0"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  The value &quot;{0}&quot; is not of type &quot;{1}&quot;. {2}
               </message>
               <target
                     class="Simple">
                  <event
                        name="Set">
                     <feature
                           name="value">
                     </feature>
                  </event>
               </target>
               <target
                     class="Values">
                  <event
                        name="Add">
                     <feature
                           name="value">
                     </feature>
                  </event>
                  <event
                        name="Add Many">
                     <feature
                           name="value">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="value">
                     </feature>
                  </event>
                  <event
                        name="Remove Many">
                     <feature
                           name="value">
                     </feature>
                  </event>
               </target>
               <target
                     class="SimpleRef">
                  <event
                        name="Set">
                     <feature
                           name="value">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.validation.prf.ValidEnumValueConstraint"
                  id="gov.redhawk.prf.validation.constraint.ValidEnumValue"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="%constraint.name.1"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  %constraint.message.1
               </message>
               <target
                     class="Simple">
                  <event
                        name="Set">
                     <feature
                           name="value">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.validation.prf.ComplexTypeConstraint"
                  id="gov.redhawk.prf.validation.typeModifier"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="Invalid Complex Type"
                  severity="ERROR"
                  statusCode="3">
               <message>
                  Complex Type is not supported for properties of type {0}.
               </message>
               <target
                     class="Simple">
                  <event
                        name="Set">
                     <feature
                           name="complex">
                     </feature>
                     <feature
                           name="type">
                     </feature>
                  </event>
               </target>
               <target
                     class="SimpleSequence">
                  <event
                        name="Set">
                     <feature
                           name="complex">
                     </feature>
                     <feature
                           name="type">
                     </feature>
                  </event>
               </target>
            </constraint>
            <!--
            <constraint
                  class="gov.redhawk.validation.prf.ComplexTypeWarningConstraint"
                  id="gov.redhawk.prf.validation.typeModifierWarning"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="Complex Type Warning"
                  severity="WARNING"
                  statusCode="3">
               <message>
                  Complex type should be avoided for properties of type {0}.
               </message>
               <target
                     class="Simple">
                  <event
                        name="Set">
                     <feature
                           name="complex">
                     </feature>
                     <feature
                           name="type">
                     </feature>
                  </event>
               </target>
               <target
                     class="SimpleSequence">
                  <event
                        name="Set">
                     <feature
                           name="complex">
                     </feature>
                     <feature
                           name="type">
                     </feature>
                  </event>
               </target>
            </constraint>
            -->
            <constraint
                  class="gov.redhawk.validation.prf.ValidRangeMinTypeConstraint"
                  id="gov.redhawk.prf.validation.constraint.min"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="Valid Min Value Type"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Range Min should be of type {0}
               </message>
               <target
                     class="Range">
                  <event
                        name="Set">
                     <feature
                           name="min">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.validation.prf.ValidRangeMaxTypeConstraint"
                  id="gov.redhawk.prf.validation.constraint.max"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="Valid Max Value Type"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Range Max should be of type {0}
               </message>
               <target
                     class="Range">
                  <event
                        name="Set">
                     <feature
                           name="max">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.validation.prf.ValidRangeValuesConstraint"
                  id="gov.redhawk.prf.validation.rangeValues"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="Valid Range Values"
                  severity="ERROR"
                  statusCode="5">
               <message>
                  Min value of {0} is greater than max value of {1}
               </message>
               <target
                     class="Range">
                  <event
                        name="Set">
                     <feature
                           name="min">
                     </feature>
                     <feature
                           name="max">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.validation.prf.ValueWithinRangeTypeConstraint"
                  id="gov.redhawk.prf.validation.constraint.valueInRange"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="Value Within Range"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  {0}
               </message>
               <target
                     class="Simple">
                  <event
                        name="Set">
                     <feature
                           name="value">
                     </feature>
                  </event>
               </target>
               <target
                     class="Values">
                  <event
                        name="Add">
                     <feature
                           name="value">
                     </feature>
                  </event>
                  <event
                        name="Add Many">
                     <feature
                           name="value">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="value">
                     </feature>
                  </event>
                  <event
                        name="Remove Many">
                     <feature
                           name="value">
                     </feature>
                  </event>
               </target>
               <target
                     class="SimpleRef">
                  <event
                        name="Set">
                     <feature
                           name="value">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.validation.prf.KindTypeConstraint"
                  id="gov.redhawk.prf.validation.constraint.kind"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="Kind Type"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Invalid kind type configuration: {0}
               </message>
               <target
                     class="Simple">
                  <event
                        name="Add">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Add Many">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Remove Many">
                     <feature
                           name="kind">
                     </feature>
                  </event>
               </target>
               <target
                     class="Struct">
                  <event
                        name="Add">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Add Many">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Remove Many">
                     <feature
                           name="kind">
                     </feature>
                  </event>
               </target>
               <target
                     class="StructSequence">
                  <event
                        name="Add">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Add Many">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Remove Many">
                     <feature
                           name="kind">
                     </feature>
                  </event>
               </target>
               <target
                     class="SimpleSequence">
                  <event
                        name="Add">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Add Many">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Remove">
                     <feature
                           name="kind">
                     </feature>
                  </event>
                  <event
                        name="Remove Many">
                     <feature
                           name="kind">
                     </feature>
                  </event>
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
