<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="gov.redhawk.ide.ui.category.sca_development"
            class="gov.redhawk.ui.views.event.EventView"
            icon="icons/emblem-documents.png"
            id="gov.redhawk.ui.views.event.eventViewer"
            name="Event Viewer"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="gov.redhawk.ui.views.event.eventChannelListener"
               icon="icons/emblem-documents.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <and>
                        <instanceof
                              value="gov.redhawk.ui.views.namebrowser.view.BindingNode">
                        </instanceof>
                        <test
                              args="IDL:omg.org/CosEventChannelAdmin/EventChannel:1.0"
                              property="gov.redhawk.ui.views.namebrowser.isRepID">
                        </test>
                     </and>
                     <instanceof
                           value="gov.redhawk.model.sca.ScaEventChannel">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            defaultHandler="gov.redhawk.ui.views.event.handlers.EventChannelListenerHandler"
            id="gov.redhawk.ui.views.event.eventChannelListener"
            name="Listen to Event Channel">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="gov.redhawk.ui.views.event.eventViewer"
            labelProvider="gov.redhawk.ui.views.event.properties.EventDetailsLabelProvider">
         <propertyCategory
               category="Event.Details">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="gov.redhawk.ui.views.event.eventViewer">
         <propertyTab
               category="Event.Details"
               id="gov.redhawk.ui.views.event.eventViewer.detailsTab"
               label="Event Details">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="gov.redhawk.ui.views.event.eventViewer">
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="gov.redhawk.ui.views.event.eventViewer.detailsSection"
               tab="gov.redhawk.ui.views.event.eventViewer.detailsTab">
            <input
                  type="gov.redhawk.ui.views.event.model.Event">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
