<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
 
-->
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="gov.redhawk.validation.category"
            mandatory="true"
            name="%category.name.sca">
      </category>
         </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="gov.redhawk.validation.clientContext">
         <enablement>
            <instanceof
                  value="java.lang.Object">
            </instanceof>
         </enablement>
      </clientContext>
      <binding
            category="gov.redhawk.validation.category"
            context="gov.redhawk.validation.clientContext">
      </binding>
   </extension>
</plugin>
