!*************
!
!   Dictionary definition file for NeXtMidas
!
!   @version $Id: commands.template,v 1.1 2001/07/16 15:35:51 newcastlek Exp $
!
!   FORMAT
!   Name  Support,#parameters   key=default1,...,key=defaultN
!
!   Support Keys:
!   M-Macro I-Intrinsic, P-Primitive, N-Native	(NeXtMidas)
!   H-Host					(Xmidas)
!
!*************
CORBARECEIVER2* P,4     ,FILE=,IOR=,IDL=,STREAMID=,
DISPTHIN*       P,4     ,INFILE=,OUTFILE=,REFRESHRATE=,FRAMELENGTH=,
FFTFILTER*      P,3     ,INPUT=,FILTER=,RANGES=,
LOCALP*LOT      M,4     ,PLOTARGS=,
RMIFP*LOT       M,1     ,PORT=9000,
SDDS2M*IDAS     M,4     ,SDDSARGS=,FFTARGS=,THINARGS=,OUTPUT=,
SOURCENIC*      P,1     ,OUT=,
