<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<!--
  REDHAWK HEADER
  
  Identification: $Revision: 8005 $
-->
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="gov.redhawk.sca.model.dataProviderService">
      <provider
            class="gov.redhawk.sca.model.provider.event.internal.EventServiceDataProviderService"
            id="gov.redhawk.sca.model.provider.event"
            name="ODM_Channel Data Provider">
      </provider>
   </extension>
</plugin>
