<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
 
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="false">
         <package
               namespaceUri="http://sca.jpeojtrs.mil/sad">
         </package>
         <constraints
               categories="gov.redhawk.validation.category">
            <constraint
                  class="gov.redhawk.sca.sad.validation.FindComponentConstraint"
                  id="gov.redhawk.sca.sad.validation.FindComponent"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name"
                  severity="ERROR"
                  statusCode="1001">
               <message>
                  %constraint.message
               </message>
               <target
                     class="FindComponent">
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.sca.sad.validation.ConnectInterfaceConstraint"
                  id="gov.redhawk.sca.sad.validation.ConnectInterface"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.0"
                  severity="ERROR"
                  statusCode="1002">
               <message>
                  %constraint.message.0
               </message>
               <target
                     class="SadConnectInterface">
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.sca.sad.validation.ConnectionsConstraint"
                  id="gov.redhawk.sca.sad.validation.SadConnections"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.1"
                  severity="WARNING"
                  statusCode="1003">
               <message>
                  %constraint.message.1
               </message>
               <target
                     class="SadConnections">
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.sca.sad.validation.VersionConstraint"
                  id="gov.redhawk.sca.sad.validation.SoftwareAssembly.Versionconstraint1"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Live"
                  name="%constraint.name.2"
                  severity="WARNING"
                  statusCode="1004">
               <message>
                  %constraint.message.2
               </message>
               <target
                     class="SoftwareAssembly">
                  <event
                        name="Set">
                     <feature
                           name="version">
                     </feature>
                  </event>
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.sca.sad.validation.DuplicateExternalPropertyIDContraint"
                  id="gov.redhawk.sca.sad.validation.externalproperties"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="Duplicate External Properties"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Duplicate external property ID &quot;{0}&quot;
               </message>
               <target
                     class="ExternalProperty">
                  <event
                        name="Set">
                     <feature
                           name="externalPropID">
                     </feature>
                  </event>
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
