<?xml version="1.0" encoding="UTF-8"?>
<!--
  REDHAWK HEADER
 
  Identification: $Revision: 4927 $
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gov.redhawk.ui.sad.editor.presentation.SadEditor"
            contributorClass="gov.redhawk.ui.sad.editor.presentation.SadMultipageEditorActionBarContributor"
            default="false"
            icon="icons/full/obj16/SadModelFile.gif"
            id="gov.redhawk.ui.sad.editor.presentation.SadEditorID"
            matchingStrategy="gov.redhawk.ui.sad.editor.presentation.SadEditorMatchingStrategy"
            name="%editor.name">
         <contentTypeBinding contentTypeId="mil.jpeojtrs.sca.sad.content-type"/>
      </editor>
   </extension>
    <extension
         point="gov.redhawk.sca.ui.scaContentTypes">
         <contentTypeBinding
            contentTypeId="gov.redhawk.ui.sad.contentType"
            editorId="gov.redhawk.ui.sad.editor.presentation.SadEditorID"
            priority="LOW">
      </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="gov.redhawk.ide.debug.ui.contentType.localSca"
               editorId="gov.redhawk.ui.sad.editor.presentation.SadEditorID"
               priority="NORMAL">
         </contentTypeBinding>
   </extension>

</plugin>
