<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="gov.redhawk.ide.ui.category.sca_development"
            class="gov.redhawk.ui.views.connmgr.ConnMgrView"
            id="gov.redhawk.ui.views.connmgr.view"
            name="Connection Manager"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.control">
         <command
               commandId="gov.redhawk.ui.views.connmgr.show"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        property="gov.redhawk.sca.model.dommgr.connected"
                        value="true">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:gov.redhawk.ui.views.connmgr.view?after=additions">
         <command
               commandId="gov.redhawk.ui.views.connmgr.findobject"
               icon="icons/ScaUsesPort.gif"
               label="%menu.findsource.label"
               style="push">
            <parameter
                  name="gov.redhawk.ui.views.connmgr.sourceOrTarget"
                  value="source">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="gov.redhawk.ui.views.connmgr.ConnectionStatus">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.ui.views.connmgr.findobject"
               icon="icons/ScaProvidesPort.gif"
               label="%menu.findtarget.label"
               style="push">
            <parameter
                  name="gov.redhawk.ui.views.connmgr.sourceOrTarget"
                  value="target">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="gov.redhawk.ui.views.connmgr.ConnectionStatus">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.ui.views.connmgr.disconnect"
               icon="icons/disconnect.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.ui.views.connmgr.view?after=additions">
         <command
               commandId="gov.redhawk.ui.views.connmgr.findobject"
               icon="icons/ScaUsesPort.gif"
               style="push"
               tooltip="%findobject.source.command.description">
            <parameter
                  name="gov.redhawk.ui.views.connmgr.sourceOrTarget"
                  value="source">
            </parameter>
         </command>
         <command
               commandId="gov.redhawk.ui.views.connmgr.findobject"
               icon="icons/ScaProvidesPort.gif"
               style="push"
               tooltip="%findobject.target.command.description">
            <parameter
                  name="gov.redhawk.ui.views.connmgr.sourceOrTarget"
                  value="target">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            description="%show.command.description"
            id="gov.redhawk.ui.views.connmgr.show"
            name="%show.command.name">
      </command>
      <command
            description="%findobject.command.description"
            id="gov.redhawk.ui.views.connmgr.findobject"
            name="%findobject.command.name">
         <commandParameter
               id="gov.redhawk.ui.views.connmgr.sourceOrTarget"
               name="Source or Target"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            description="%disconnect.command.description"
            id="gov.redhawk.ui.views.connmgr.disconnect"
            name="%disconnect.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.redhawk.ui.views.connmgr.handlers.ShowConnMgrHandler"
            commandId="gov.redhawk.ui.views.connmgr.show">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="gov.redhawk.model.sca.ScaDomainManager">
                  </instanceof>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.ui.views.connmgr.handlers.FindHandler"
            commandId="gov.redhawk.ui.views.connmgr.findobject">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="gov.redhawk.ui.views.connmgr.ConnectionStatus">
                  </instanceof>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.ui.views.connmgr.handlers.DisconnectHandler"
            commandId="gov.redhawk.ui.views.connmgr.disconnect">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="gov.redhawk.ui.views.connmgr.ConnectionStatus">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="gov.redhawk.ui.views.connmgr.view"
            labelProvider="gov.redhawk.ui.views.connmgr.properties.ConnMgrPropertiesTitleProvider">
         <propertyCategory
               category="gov.redhawk.ui.views.connmgr.advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="gov.redhawk.ui.views.connmgr.view">
         <propertyTab
               category="gov.redhawk.ui.views.connmgr.advanced"
               id="gov.redhawk.ui.views.connmgr.advancedtab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="gov.redhawk.ui.views.connmgr.view">
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="gov.redhawk.ui.views.connmgr.advancedsection"
               tab="gov.redhawk.ui.views.connmgr.advancedtab">
            <input
                  type="gov.redhawk.ui.views.connmgr.ConnectionStatus">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ConnMgr -->
      <package
            uri="http://connmgr.views.ui.redhawk.gov/connmgr"
            class="gov.redhawk.ui.views.connmgr.ConnMgrPackage"
            genModel="model/ConnMgr.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated ConnMgr -->
      <factory
            uri="http://connmgr.views.ui.redhawk.gov/connmgr"
            class="gov.redhawk.ui.views.connmgr.provider.ConnMgrItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.ITableItemLabelProvider"/>
   </extension>
</plugin>
