<?xml version="1.0" encoding="UTF-8"?>
<!--
   REDHAWK HEADER

   Identification: $Revision: 7629 $
 -->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="gov.redhawk.ui.portHandler" name="%extension-point.name" schema="schema/gov.redhawk.ui.portHandler.exsd"/>
      <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="gov.redhawk.ui.port.internal.UsesPortPropertyTester"
            id="gov.redhawk.ui.port.uses"
            namespace="gov.redhawk.ui.port"
            properties="interface"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
