<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<!--
  REDHAWK HEADER
  
  Identification: $Revision: 8721 $
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="gov.redhawk.sca.sad.diagram.providers.SadEditPolicyProvider">
         <Priority
               name="Low">
         </Priority>
      </editpolicyProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="gov.redhawk.sca.sad.diagram.providers.SadEditPartProvider">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
   <extension point="org.eclipse.ui.preferencePages" id="prefPages">
      <page
            category="mil.jpeojtrs.sca.sad.diagram.general"
            class="gov.redhawk.sca.sad.diagram.preferences.SadFiltersPreferencePage"
            id="gov.redhawk.sca.sad.diagram.SadFiltersPreferencePage"
            name="%page.name.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class="gov.redhawk.sca.sad.diagram.providers.SadViewProvider">
         <Priority
               name="Low">
         </Priority>
         <context
               semanticHints="Sad"
               viewClass="org.eclipse.gmf.runtime.notation.Diagram">
         </context>
         <context
               semanticHints="4001"
               viewClass="org.eclipse.gmf.runtime.notation.Edge">
         </context>
         <context
               semanticHints="3001,3003,3004,3005,3006,3007"
               viewClass="org.eclipse.gmf.runtime.notation.Node">
         </context>
         <context
               semanticHints="12002,13011,13012"
               viewClass="org.eclipse.gmf.runtime.notation.Node">
         </context>
      </viewProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://sca.jpeojtrs.mil/sad">
         <adviceBinding
               class="gov.redhawk.sca.sad.diagram.edit.helpers.SadConnectInterfaceEditHelperAdvice"
               id="gov.redhawk.sca.sad.diagram.edit.helpers.SadConnectInterface"
               inheritance="none"
               typeId="mil.jpeojtrs.sca.sad.diagram.SadConnectInterface_4001">
         </adviceBinding>
         <adviceBinding
               class="gov.redhawk.sca.sad.diagram.edit.helpers.SadComponentInstantiationEditHelperAdvice"
               id="gov.redhawk.sca.sad.diagram.edit.helpers.SadComponentInstantiation"
               inheritance="none"
               typeId="mil.jpeojtrs.sca.sad.diagram.SadComponentInstantiation_3002">
         </adviceBinding>
         <adviceBinding
               class="gov.redhawk.sca.sad.diagram.edit.helpers.SoftwareAssemblyEditHelperAdvice"
               id="gov.redhawk.sca.sad.diagram.edit.helpers.SoftwareAssembly_1000"
               inheritance="none"
               typeId="mil.jpeojtrs.sca.sad.diagram.SoftwareAssembly_1000">
         </adviceBinding>
         <adviceBinding
               class="gov.redhawk.sca.sad.diagram.edit.helpers.SadComponentPlacementEditHelperAdvice"
               id="gov.redhawk.sca.sad.diagram.edit.helpers.SadComponentPlacement"
               inheritance="none"
               typeId="mil.jpeojtrs.sca.sad.diagram.SadComponentPlacement_3001">
         </adviceBinding>
         <adviceBinding
               class="gov.redhawk.sca.sad.diagram.edit.HostCollocationEditHelperAdvice"
               id="gov.redhawk.sca.sad.diagram.edit.helpers.HostCollocation"
               inheritance="none"
               typeId="mil.jpeojtrs.sca.sad.diagram.HostCollocation_3006">
         </adviceBinding>
      </metamodel>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <clientContext
            id="mil.jpeojtrs.sca.sad.diagram.TypeContext">
         <enablement>
            <test
                  property="org.eclipse.gmf.runtime.emf.core.editingDomain"
                  value="mil.jpeojtrs.sca.sad.diagram.EditingDomain">
            </test>
         </enablement>
      </clientContext>
      <binding
            context="mil.jpeojtrs.sca.sad.diagram.TypeContext">
         <advice
               pattern="gov.redhawk.sca.sad.diagram.edit.helpers.*">
         </advice>
         <elementType
               ref="mil.jpeojtrs.sca.partitioning.diagram.FindByStub_12002">
         </elementType>
         <elementType
               ref="mil.jpeojtrs.sca.partitioning.diagram.NamingService_13011">
         </elementType>
         <elementType
               ref="mil.jpeojtrs.sca.partitioning.diagram.DomainFinder_13012">
         </elementType>
      </binding>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider
            class="gov.redhawk.sca.sad.diagram.providers.SadModelingAssistantProvider">
         <Priority
               name="Low">
         </Priority>
      </modelingAssistantProvider>
   </extension>
   
   <extension
      point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
   <layoutProvider
         class="gov.redhawk.sca.sad.diagram.providers.SadLayoutProvider">
      <Priority
            name="Medium">
      </Priority>
   </layoutProvider>
</extension>

   
    <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="gov.redhawk.sca.sad.diagram.providers.SadPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <editor
               class="mil.jpeojtrs.sca.sad.diagram.part.SadDiagramEditor(mil.jpeojtrs.sca.sad.diagram)">
         </editor>
      </paletteProvider>
   </extension>
    <extension
          point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
       <ParserProvider
             class="gov.redhawk.sca.sad.diagram.providers.SadParserProvider">
          <Priority
                name="Low">
          </Priority>
       </ParserProvider>
    </extension>
    
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="mil.jpeojtrs.sca.sad.diagram.edit.parts.UsesPortStubEditPart"
            class="gov.redhawk.sca.sad.diagram.adapters.UsesPortStubAdapterFactory">
         <adapter
               type="gov.redhawk.model.sca.ScaUsesPort">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaPort">
         </adapter>
      </factory>
      <factory
            adaptableType="mil.jpeojtrs.sca.sad.diagram.edit.parts.SadConnectInterfaceEditPart"
            class="gov.redhawk.sca.sad.diagram.adapters.SadConnectInterfaceAdapterFactory">
         <adapter
               type="gov.redhawk.model.sca.ScaUsesPort">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaPort">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaProvidesPort">
         </adapter>
      </factory>
      <factory
            adaptableType="mil.jpeojtrs.sca.sad.diagram.edit.parts.SadComponentInstantiationEditPart"
            class="gov.redhawk.sca.sad.diagram.adapters.SadComponentInstantiationEditPartAdapterFactory">
         <adapter
               type="gov.redhawk.model.sca.ScaComponent">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaAbstractComponent">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaPropertyContainer">
         </adapter>
         <adapter
               type="CF.ResourceOperations">
         </adapter>
         <adapter
               type="CF.LifeCycleOperations">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.IRefreshable">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaPortContainer">
         </adapter>
         <adapter
               type="CF.LoggingOperations">
         </adapter>
      </factory>
      <factory
            adaptableType="mil.jpeojtrs.sca.sad.diagram.edit.parts.ProvidesPortStubEditPart"
            class="gov.redhawk.sca.sad.diagram.adapters.ProvidesPortStubAdapterFactory">
         <adapter
               type="gov.redhawk.model.sca.ScaProvidesPort">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaPort">
         </adapter>
      </factory>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="mil.jpeojtrs.sca.sad.diagram">
         <propertyTab
             category="domain"
             id="property.tab.ComponentProperties"
             label="%propertyTab.label"/>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="mil.jpeojtrs.sca.sad.diagram">
         <propertySection
               class="gov.redhawk.diagram.sheet.properties.ComponentPropertiesPropertySection"
               enablesFor="1"
               filter="gov.redhawk.sca.sad.diagram.sheet.properties.SadPropertyTabFilter"
               id="property.section.ComponentProperties"
               tab="property.tab.ComponentProperties">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="gov.redhawk.sca.sad.diagram.assignAssemblyController"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="mil.jpeojtrs.sca.sad.diagram.edit.parts.ComponentPlacementEditPart">
                        </instanceof>
                        <instanceof
                              value="gov.redhawk.sca.sad.diagram.edit.parts.SadComponentInstantiationEditPart">
                        </instanceof></or>
                  </iterate>
                  <with
                        variable="activePartId">
                     <not>
                        <equals
                              value="gov.redhawk.ide.debug.ui.diagram.editor.localSca">
                        </equals>
                     </not>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               id="gov.redhawk.sca.sad.diagram.startOrderSubMenu"
               label="%menu.label">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="mil.jpeojtrs.sca.sad.diagram.edit.parts.ComponentPlacementEditPart">
                        </instanceof>
                        <instanceof
                              value="gov.redhawk.sca.sad.diagram.edit.parts.SadComponentInstantiationEditPart">
                        </instanceof>
                     </or>
                  </iterate>
                  <with
                        variable="activePartId">
                     <not>
                        <equals
                              value="gov.redhawk.ide.debug.ui.diagram.editor.localSca">
                        </equals>
                     </not>
                  </with>
               </and>
            </visibleWhen>
            <command
                  commandId="gov.redhawk.sca.sad.diagram.moveEarlierInStartOrder"
                  label="%command.label"
                  style="push">
            </command>
            <command
                  commandId="gov.redhawk.sca.sad.diagram.moveLaterInStartOrder"
                  label="%command.label.0"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="gov.redhawk.sca.sad.diagram.part.AssignAssemblyControllerCommand"
            description="%command.description"
            id="gov.redhawk.sca.sad.diagram.assignAssemblyController"
            name="%command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="gov.redhawk.sca.sad.diagram.part.MoveComponentEarlierInStartOrder"
            description="%command.description.0"
            id="gov.redhawk.sca.sad.diagram.moveEarlierInStartOrder"
            name="%command.name.0">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="gov.redhawk.sca.sad.diagram.part.MoveComponentLaterInStartOrder"
            description="%command.description.1"
            id="gov.redhawk.sca.sad.diagram.moveLaterInStartOrder"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         id="gov.redhawk.sca.sad.diagram.assemblyControllerDecorator"
         name="Assembly Controller Decorator"
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="gov.redhawk.sca.sad.diagram.providers.AssemblyControllerDecoratorProvider">
         <Priority
               name="Low">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="PRIMARY_VIEW">
         </object>
         <context
               decoratorTargets="PRIMARY_VIEW">
         </context>
      </decoratorProvider>
   </extension>
   <extension
         id="gov.redhawk.sca.sad.diagram.missingSoftPkgDecorator"
         name="Missing SoftPkg Decorator"
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="gov.redhawk.sca.sad.diagram.providers.MissingSoftPkgDecoratorProvider">
         <Priority
               name="Low">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="PRIMARY_VIEW">
         </object>
         <context
               decoratorTargets="PRIMARY_VIEW">
         </context>
      </decoratorProvider>
   </extension>
   <extension
         id="gov.redhawk.sca.sad.diagram.hostCollocationDecorator"
         name="Host Collocation Decorator"
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="gov.redhawk.sca.sad.diagram.providers.HostCollocationDecoratorProvider">
         <Priority
               name="Low">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="PRIMARY_VIEW">
         </object>
         <context
               decoratorTargets="PRIMARY_VIEW">
         </context>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <contributionItemProvider
            checkPluginLoaded="false"
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider">
         <Priority
               name="Low">
         </Priority>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
         	<popupStructuredContributionCriteria objectClass="mil.jpeojtrs.sca.sad.diagram.edit.parts.ComponentPlacementEditPart"/>
         	<popupStructuredContributionCriteria objectClass="mil.jpeojtrs.sca.sad.diagram.edit.parts.ComponentPlacementNameEditPart"/>
         	<popupStructuredContributionCriteria objectClass="mil.jpeojtrs.sca.sad.diagram.edit.parts.HostCollocationNameEditPart"/>
         	<popupStructuredContributionCriteria objectClass="mil.jpeojtrs.sca.sad.diagram.edit.parts.HostCollocationEditPart"/>
			<popupStructuredContributionCriteria objectClass="gov.redhawk.sca.sad.diagram.edit.parts.ProvidesPortStubEditPart"/>
         	<popupStructuredContributionCriteria objectClass="gov.redhawk.sca.sad.diagram.edit.parts.ComponentSupportedInterfaceStubEditPart"/>
         	<popupStructuredContributionCriteria objectClass="gov.redhawk.sca.sad.diagram.edit.parts.UsesPortStubEditPart"/>
         	<popupStructuredContributionCriteria objectClass="mil.jpeojtrs.sca.sad.diagram.edit.parts.SadComponentInstantiationUsageNameEditPart"/>
         	<popupStructuredContributionCriteria objectClass="gov.redhawk.sca.sad.diagram.edit.parts.SadComponentInstantiationEditPart"/>
         	<popupStructuredContributionCriteria objectClass="gov.redhawk.sca.sad.diagram.edit.parts.HostCollocationCompartmentEditPart"/>
         	<popupStructuredContributionCriteria objectClass="gov.redhawk.sca.sad.diagram.edit.parts.SadConnectInterfaceEditPart"/>
         	<popupPredefinedItem
                id="deleteFromDiagramAction"
                remove="true">
         	</popupPredefinedItem>
         </popupContribution>
      </contributionItemProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="gov.redhawk.sca.sad.diagram.providers.InvalidConnectionProvider">
         <Priority
               name="Low">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="PRIMARY_VIEW">
         </object>
         <context
               decoratorTargets="PRIMARY_VIEW">
         </context>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="gov.redhawk.sca.sad.diagram.providers.RedundantConnectionsProvider">
         <Priority
               name="Low">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="PRIMARY_VIEW">
         </object>
         <context
               decoratorTargets="PRIMARY_VIEW">
         </context>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="gov.redhawk.sca.sad.diagram.providers.StartOrderDecoratorProvider">
         <Priority
               name="Low">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="PRIMARY_VIEW">
         </object>
         <context
               decoratorTargets="PRIMARY_VIEW">
         </context>
      </decoratorProvider>
   </extension>
</plugin>
