<?xml version="1.0" encoding="UTF-8"?>
<!--
   REDHAWK HEADER

   Identification: $Revision: 7870 $
 -->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="false"
            mode="Batch">
         <package
               namespaceUri="http://sca.jpeojtrs.mil/dcd">
         </package>
         <constraints
               categories="gov.redhawk.validation.category">
            <constraint
                  class="gov.redhawk.sca.dcd.validation.ConnectInterfaceConstraint"
                  id="gov.redhawk.sca.dcd.validation.ConnectInterface"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name"
                  severity="ERROR"
                  statusCode="1001">
               <message>
                  %constraint.message
               </message>
               <target
                     class="DcdConnectInterface">
               </target>
            </constraint>
            <constraint
                  class="gov.redhawk.sca.dcd.validation.ConnectionsConstraint"
                  id="gov.redhawk.sca.dcd.validation.DcdConnections"
                  isEnabledByDefault="true"
                  lang="java"
                  mode="Batch"
                  name="%constraint.name.0"
                  severity="WARNING"
                  statusCode="1002">
               <message>
                  %constraint.message.0
               </message>
               <target
                     class="DcdConnections">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
