<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
 
-->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="gov.redhawk.ui.category.sca"
            class="gov.redhawk.ui.views.namebrowser.view.NameBrowserView"
            icon="icons/view.gif"
            id="gov.redhawk.ui.views.namebrowserview"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="gov.redhawk.ui.views.namebrowser.internal.command.DomainManagerTester"
            id="gov.redhawk.ui.views.namebrowser.command.DomainManagerTester"
            namespace="gov.redhawk.ui.views.namebrowser"
            properties="isDomainManager"
            type="gov.redhawk.ui.views.namebrowser.view.BindingNode">
      </propertyTester>
      <propertyTester
            class="gov.redhawk.ui.views.namebrowser.internal.command.BindingNodeTypeTester"
            id="gov.redhawk.ui.views.namebrowser.command.BindingNodeTypeTester"
            namespace="gov.redhawk.ui.views.namebrowser"
            properties="isType"
            type="gov.redhawk.ui.views.namebrowser.view.BindingNode">
      </propertyTester>
      <propertyTester
            class="gov.redhawk.ui.views.namebrowser.internal.command.BindingNodeRepIDTester"
            id="gov.redhawk.ui.views.namebrowser.command.BindingNodeRepIDTester"
            namespace="gov.redhawk.ui.views.namebrowser"
            properties="isRepID"
            type="gov.redhawk.ui.views.namebrowser.view.BindingNode">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:gov.redhawk.ui.views.namebrowserview">
         <command
               commandId="org.eclipse.ui.file.refresh"
               style="push">
         </command>
         <command
               commandId="gov.redhawk.ui.views.namebrowser.command.connectDomain"
               icon="icons/add.gif"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip">
            <visibleWhen
                  checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="gov.redhawk.ui.views.namebrowser.view.BindingNode">
                        </instanceof>
                        <test
                              args="IDL:CF/DomainManager:1.0"
                              property="gov.redhawk.ui.views.namebrowser.isRepID">
                        </test>
                     </and>
                  </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               icon="icons/disconnect.png"
               label="%command.label.0"
               style="push"
               tooltip="%command.tooltip.0">
            <visibleWhen
                  checkEnabled="false">
                  <iterate
                        operator="and">
                     <and>
                        <instanceof
                              value="gov.redhawk.ui.views.namebrowser.view.BindingNode">
                        </instanceof>
                        <test
                              args="ROOT"
                              property="gov.redhawk.ui.views.namebrowser.isType">
                        </test>
                     </and>
                  </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="%command.label.1"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <and>
                     <test
                           args="OBJECT"
                           property="gov.redhawk.ui.views.namebrowser.isType">
                     </test>
                     <instanceof
                           value="gov.redhawk.ui.views.namebrowser.view.BindingNode">
                     </instanceof>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="%command.label.2"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false">
                  <and>
                     <test
                           args="CONTEXT"
                           property="gov.redhawk.ui.views.namebrowser.isType">
                     </test>
                     <instanceof
                           value="gov.redhawk.ui.views.namebrowser.view.BindingNode">
                     </instanceof>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.redhawk.ui.views.namebrowser.internal.command.Disconnect"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="gov.redhawk.ui.views.namebrowser.view.BindingNode">
                     </instanceof>
                     <test
                           args="ROOT"
                           property="gov.redhawk.ui.views.namebrowser.isType">
                     </test>
                  </and>
               </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.ui.views.namebrowser.internal.command.Refresh"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="gov.redhawk.ui.views.namebrowser.view.BindingNode">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.ui.views.namebrowser.internal.command.RemoveContext"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
           <iterate
                 ifEmpty="false">
              <and>
                 <test
                       args="CONTEXT"
                       property="gov.redhawk.ui.views.namebrowser.isType">
                 </test>
                 <instanceof
                       value="gov.redhawk.ui.views.namebrowser.view.BindingNode">
                 </instanceof>
              </and>
           </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.ui.views.namebrowser.internal.command.UnbindObject"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
           <iterate
                 ifEmpty="false">
              <and>
                 <test
                       args="OBJECT"
                       property="gov.redhawk.ui.views.namebrowser.isType">
                 </test>
                 <instanceof
                       value="gov.redhawk.ui.views.namebrowser.view.BindingNode">
                 </instanceof>
              </and>
           </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.ui.views.namebrowser.internal.command.ConnectToDomainHandler"
            commandId="gov.redhawk.ui.views.namebrowser.command.connectDomain">
         <activeWhen>
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="gov.redhawk.ui.views.namebrowser.view.BindingNode">
                     </instanceof>
                     <test
                           args="IDL:CF/DomainManager:1.0"
                           property="gov.redhawk.ui.views.namebrowser.isRepID">
                     </test>
                  </and>
               </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description"
            id="gov.redhawk.ui.views.namebrowser.command.connectDomain"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="gov.redhawk.ui.views.namebrowser.view.BindingNode"
            class="gov.redhawk.ui.views.namebrowser.view.internal.BindingNodeAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="gov.redhawk.ui.views.namebrowser.internal.BindingNodeDecorator"
            id="gov.redhawk.ui.views.namebrowser.decorator"
            label="Binding Node Decorator"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="gov.redhawk.ui.views.namebrowser.view.BindingNode">
               </objectClass>
            </and>
         </enablement>
      </decorator>
   </extension>

</plugin>
