<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="gov.redhawk.frontend.internal.FrontEndContentProvider"
            id="gov.redhawk.frontend.ui.navigatorContent"
            labelProvider="gov.redhawk.frontend.internal.FrontEndLabelProvider"
            name="FrontEndInterfaces"
            priority="normal"
            providesSaveables="false"
            sortOnly="false">
         <triggerPoints>
            <instanceof
                  value="gov.redhawk.model.sca.ScaDevice">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="gov.redhawk.frontend.Tuner">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="gov.redhawk.ui.sca_explorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="gov.redhawk.frontend.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="gov.redhawk.ui.sca_explorer">
         <propertyTab
               afterTab="CommonNavigator.tab.Advanced"
               category="advanced"
               id="gov.redhawk.frontend.ui.tab.TunerStatus"
               label="Tuner Status">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="gov.redhawk.ui.sca_explorer">
         <propertySection
               class="gov.redhawk.frontend.ui.tabbed.TunerStatusSection"
               id="gov.redhawk.frontend.ui.section.TunerStatus"
               tab="gov.redhawk.frontend.ui.tab.TunerStatus">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
