<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="gov.redhawk.ui.navigatorContent"
            contentProvider="gov.redhawk.frontend.ui.internal.FrontEndContentProvider"
            id="gov.redhawk.frontend.ui.navigatorContent"
            labelProvider="gov.redhawk.frontend.ui.internal.FrontEndLabelProvider"
            name="FrontEndInterfaces"
            priority="normal"
            providesSaveables="false"
            sortOnly="false">
         <triggerPoints>
            <instanceof
                  value="gov.redhawk.model.sca.ScaDevice">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="gov.redhawk.frontend.TunerStatus">
               </instanceof>
               <instanceof
                     value="gov.redhawk.frontend.ListenerAllocation">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="gov.redhawk.frontend.ui.FrontEndViewerSorter">
            <parentExpression>
               <instanceof
                     value="gov.redhawk.frontend.TunerContainer">
               </instanceof>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="gov.redhawk.frontend.ui.internal.TunerStatusFilter"
            id="gov.redhawk.frontend.ui.commonFilter"
            name="Tuner Status Filter"
            visibleInUI="false">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="gov.redhawk.ui.sca_explorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="gov.redhawk.frontend.ui.navigatorContent">
            </contentExtension>
            <contentExtension
                  isRoot="false"
                  pattern="gov.redhawk.frontend.ui.commonFilter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="gov.redhawk.ui.sca_explorer">
         <propertyTab
               category="frontend"
               id="gov.redhawk.frontend.ui.tab.Frontend"
               label="Properties">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="gov.redhawk.ui.sca_explorer">
         <propertySection
               class="gov.redhawk.frontend.ui.internal.section.FrontendSection"
               filter="gov.redhawk.frontend.ui.internal.section.FrontendSectionFilter"
               id="gov.redhawk.frontend.ui.section.frontendSection"
               tab="gov.redhawk.frontend.ui.tab.Frontend">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="gov.redhawk.frontend.ui.internal.AllocateHandler"
            id="gov.redhawk.frontend.commands.allocate"
            name="Allocate...">
      </command>
      <command
            defaultHandler="gov.redhawk.frontend.ui.internal.DeallocateHandler"
            id="gov.redhawk.frontend.commands.deallocate"
            name="Deallocate">
      </command>
      <command
            defaultHandler="gov.redhawk.frontend.ui.internal.DeallocateHandler"
            id="gov.redhawk.frontend.commands.deallocateall"
            name="Deallocate All">
      </command>
      <command
            defaultHandler="gov.redhawk.frontend.ui.internal.AddListenerHandler"
            id="gov.redhawk.frontend.commands.addListener"
            name="Add Listener...">
      </command>
      <command
            defaultHandler="gov.redhawk.frontend.ui.internal.handler.ScanHandler"
            id="gov.redhawk.frontend.ui.command.scan"
            name="Scan">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="gov.redhawk.frontend.commands.allocate"
               label="Allocate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="gov.redhawk.frontend.UnallocatedTunerContainer">
                     </instanceof>
                     <and>
                        <instanceof
                              value="gov.redhawk.model.sca.ScaDevice">
                        </instanceof>
                        <test
                              property="gov.redhawk.frontend.deviceKindIsFrontendTuner">
                        </test>
                     </and>
                     <instanceof
                           value="gov.redhawk.frontend.TunerContainer">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.frontend.commands.addListener"
               label="Add Listener..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="gov.redhawk.frontend.TunerStatus">
                     </instanceof>
                     <test
                           property="gov.redhawk.frontend.hasAllocationID">
                     </test>
                     <test
                           property="gov.redhawk.frontend.supportsAddListenerAction">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.frontend.ui.command.scan"
               label="Scan"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="gov.redhawk.frontend.TunerStatus">
                     </instanceof>
                     <test
                           property="gov.redhawk.frontend.tunerType"
                           value="RX_SCANNER_DIGITIZER">
                     </test>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.frontend.commands.deallocate"
               label="Deallocate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <or>
                     <and>
                        <instanceof
                              value="gov.redhawk.frontend.TunerStatus">
                        </instanceof>
                        <test
                              property="gov.redhawk.frontend.hasAllocationID">
                        </test>
                        <test
                              property="gov.redhawk.frontend.supportedTunerType">
                        </test>
                     </and>
                     <instanceof
                           value="gov.redhawk.frontend.ListenerAllocation">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.frontend.commands.deallocateall"
               label="Deallocate All"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <or>
                     <and>
                        <instanceof
                              value="gov.redhawk.frontend.TunerContainer">
                        </instanceof>
                        <test
                              property="gov.redhawk.frontend.hasAllocatedTuners">
                        </test>
                     </and>
                     <and>
                        <instanceof
                              value="gov.redhawk.model.sca.ScaDevice">
                        </instanceof>
                        <test
                              property="gov.redhawk.frontend.deviceKindIsFrontendTuner">
                        </test>
                     </and>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <separator
               name="gov.redhawk.ui.port.nxmplot.separator.start"
               visible="true">
         </separator>
         <command
               commandId="gov.redhawk.ui.port.nxmplot.command.plot"
               icon="icons/plot.gif"
               label="Plot Port Data"
               style="push">
            <parameter
                  name="gov.redhawk.ui.port.nxmplot.type"
                  value="LINE">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="gov.redhawk.frontend.TunerStatus">
                     </instanceof>
                     <test
                           property="gov.redhawk.frontend.supportsPlotActions">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <menu
               icon="icons/plot.gif"
               label="Plot Port Data As">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="gov.redhawk.frontend.TunerStatus">
                     </instanceof>
                     <test
                           property="gov.redhawk.frontend.supportsPlotActions">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Line"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="LINE">
               </parameter>
            </command>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Raster"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="RASTER">
               </parameter>
            </command>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Point"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="POINT">
               </parameter>
            </command>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Dot"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="DOT">
               </parameter>
            </command>
         </menu>
         <command
               commandId="gov.redhawk.ui.port.nxmplot.command.plot"
               icon="icons/plot.gif"
               label="Plot Port FFT"
               style="push">
            <parameter
                  name="gov.redhawk.ui.port.nxmplot.type"
                  value="LINE">
            </parameter>
            <parameter
                  name="gov.redhawk.ui.port.nxmplot.isFft"
                  value="true">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="gov.redhawk.frontend.TunerStatus">
                     </instanceof>
                     <test
                           property="gov.redhawk.frontend.supportsPlotActions">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <menu
               icon="icons/plot.gif"
               label="Plot Port FFT As">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="gov.redhawk.frontend.TunerStatus">
                     </instanceof>
                     <test
                           property="gov.redhawk.frontend.supportsPlotActions">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Line"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="LINE">
               </parameter>
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.isFft"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Raster"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="RASTER">
               </parameter>
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.isFft"
                     value="true">
               </parameter>
            </command>
         </menu>
         <command
               commandId="gov.redhawk.ui.port.nxmplot.command.plot"
               icon="icons/plot.gif"
               label="Plot Port ..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <instanceof
                           value="gov.redhawk.frontend.TunerStatus">
                     </instanceof>
                     <test
                           property="gov.redhawk.frontend.supportsPlotActions">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="gov.redhawk.ui.port.nxmplot.separator.end"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <separator
               name="gov.redhawk.ui.port.nxmplot.separator.start"
               visible="true">
         </separator>
         <command
               commandId="gov.redhawk.bulkio.ui.getsri"
               icon="icons/sri.gif"
               label="Display SRI"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="gov.redhawk.frontend.TunerStatus">
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.control">
            <command
               commandId="gov.redhawk.ui.command.connect"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="gov.redhawk.frontend.TunerStatus">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="gov.redhawk.frontend.ui.internal.AllocationPropertyTester"
            id="gov.redhawk.frontend.allocationPropertyTester"
            namespace="gov.redhawk.frontend"
            properties="hasAllocationID,supportedTunerType"
            type="gov.redhawk.frontend.TunerStatus">
      </propertyTester>
      <propertyTester
            class="gov.redhawk.frontend.ui.internal.TunerContainerPropertyTester"
            id="gov.redhawk.frontend.tunerContainerPropertyTester"
            namespace="gov.redhawk.frontend"
            properties="hasUnallocatedTuners,hasAllocatedTuners"
            type="gov.redhawk.frontend.TunerContainer">
      </propertyTester>
      <propertyTester
            class="gov.redhawk.frontend.ui.internal.FrontendTunerDeviceKindPropertytester"
            id="gov.redhawk.frontend.frontendTunerDeviceKindTester"
            namespace="gov.redhawk.frontend"
            properties="deviceKindIsFrontendTuner"
            type="gov.redhawk.model.sca.ScaDevice">
      </propertyTester>
      <propertyTester
            class="gov.redhawk.frontend.ui.internal.TunerTypeTester"
            id="gov.redhawk.frontend.tunerTypeTester"
            namespace="gov.redhawk.frontend"
            properties="tunerType,isRxDigitizer,supportsAddListenerAction,supportsPlotActions"
            type="gov.redhawk.frontend.TunerStatus">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.redhawk.frontend.ui.internal.FeiPlotHandler"
            commandId="gov.redhawk.ui.port.nxmplot.command.plot">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="gov.redhawk.frontend.TunerStatus">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.frontend.ui.internal.FeiSriHandler"
            commandId="gov.redhawk.bulkio.ui.getsri">
         <activeWhen>
            <iterate>
               <instanceof
                     value="gov.redhawk.frontend.TunerStatus">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.frontend.ui.internal.ConnectTunerHandler"
            commandId="gov.redhawk.ui.command.connect">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="gov.redhawk.frontend.TunerStatus">
                  </instanceof>
               </iterate></and>
         </activeWhen>
      </handler>
   </extension>

</plugin>
