<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="gov.redhawk.frontend.ui.internal.FrontEndContentProvider"
            id="gov.redhawk.frontend.ui.navigatorContent"
            labelProvider="gov.redhawk.frontend.ui.internal.FrontEndLabelProvider"
            name="FrontEndInterfaces"
            priority="normal"
            providesSaveables="false"
            sortOnly="false">
         <triggerPoints>
            <instanceof
                  value="gov.redhawk.model.sca.ScaDevice">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="gov.redhawk.frontend.TunerStatus">
               </instanceof>
               <instanceof
                     value="gov.redhawk.frontend.ListenerAllocation">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="gov.redhawk.frontend.ui.FrontEndViewerSorter">
            <parentExpression>
               <instanceof
                     value="gov.redhawk.frontend.TunerContainer">
               </instanceof>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="gov.redhawk.ui.sca_explorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="gov.redhawk.frontend.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="gov.redhawk.ui.sca_explorer">
         <propertyTab
               category="frontend"
               id="gov.redhawk.frontend.ui.tab.Frontend"
               label="Front End Interfaces">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="gov.redhawk.ui.sca_explorer">
         <propertySection
               class="gov.redhawk.frontend.ui.internal.section.FrontendSection"
               filter="gov.redhawk.frontend.ui.internal.section.FrontendSectionFilter"
               id="gov.redhawk.frontend.ui.section.frontendSection"
               tab="gov.redhawk.frontend.ui.tab.Frontend">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="gov.redhawk.frontend.ui.internal.AllocateHandler"
            id="gov.redhawk.frontend.commands.allocate"
            name="Allocate...">
      </command>
      <command
            defaultHandler="gov.redhawk.frontend.ui.internal.DeallocateHandler"
            id="gov.redhawk.frontend.commands.deallocate"
            name="Deallocate">
      </command>
      <command
            defaultHandler="gov.redhawk.frontend.ui.internal.FeiPlotHandler"
            id="gov.redhawk.frontend.commands.plot"
            name="Plot Port">
         <commandParameter
               id="gov.redhawk.frontend.ui.isFft"
               name="Use FFT"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="gov.redhawk.frontend.ui.internal.SnapshotHandler"
            id="gov.redhawk.frontend.commands.snapshot"
            name="Snapshot">
      </command>
      <command
            defaultHandler="gov.redhawk.frontend.ui.internal.DeallocateHandler"
            id="gov.redhawk.frontend.commands.deallocateall"
            name="Deallocate All">
      </command>
      <command
            defaultHandler="gov.redhawk.frontend.ui.internal.AddListenerHandler"
            id="gov.redhawk.frontend.commands.addListener"
            name="Add Listener...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="gov.redhawk.frontend.commands.plot"
               label="Plot Port Data"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="gov.redhawk.frontend.TunerStatus">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.frontend.commands.plot"
               label="Plot Port FFT"
               style="push">
            <parameter
                  name="gov.redhawk.frontend.ui.isFft"
                  value="true">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="gov.redhawk.frontend.TunerStatus">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.frontend.commands.allocate"
               label="Allocate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <and>
                        <instanceof
                              value="gov.redhawk.frontend.TunerContainer">
                        </instanceof>
                        <test
                              property="gov.redhawk.frontend.hasUnallocatedTuners">
                        </test>
                     </and>
                     <instanceof
                           value="gov.redhawk.frontend.UnallocatedTunerContainer">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.frontend.commands.addListener"
               label="Add Listener..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <and>
                     <instanceof
                           value="gov.redhawk.frontend.TunerStatus">
                     </instanceof>
                     <test
                           property="gov.redhawk.frontend.hasAllocationID">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.frontend.commands.deallocate"
               label="Deallocate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <or>
                     <and>
                        <instanceof
                              value="gov.redhawk.frontend.TunerStatus">
                        </instanceof>
                        <test
                              property="gov.redhawk.frontend.hasAllocationID">
                        </test>
                        <test
                              property="gov.redhawk.frontend.supportedTunerType">
                        </test>
                     </and>
                     <instanceof
                           value="gov.redhawk.frontend.ListenerAllocation">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.frontend.commands.deallocateall"
               label="Deallocate All"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <and>
                     <instanceof
                           value="gov.redhawk.frontend.TunerContainer">
                     </instanceof>
                     <test
                           property="gov.redhawk.frontend.hasAllocatedTuners">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="gov.redhawk.frontend.ui.internal.AllocationPropertyTester"
            id="gov.redhawk.frontend.allocationPropertyTester"
            namespace="gov.redhawk.frontend"
            properties="hasAllocationID,supportedTunerType"
            type="gov.redhawk.frontend.TunerStatus">
      </propertyTester>
      <propertyTester
            class="gov.redhawk.frontend.ui.internal.TunerContainerPropertyTester"
            id="gov.redhawk.frontend.tunerContainerPropertyTester"
            namespace="gov.redhawk.frontend"
            properties="hasUnallocatedTuners,hasAllocatedTuners"
            type="gov.redhawk.frontend.TunerContainer">
      </propertyTester>
      <propertyTester
            class="gov.redhawk.frontend.ui.internal.FrontendTunerDeviceKindPropertytester"
            id="gov.redhawk.frontend.frontendTunerDeviceKindTester"
            namespace="gov.redhawk.frontend"
            properties="deviceKindIsFrontendTuner"
            type="gov.redhawk.model.sca.ScaDevice">
      </propertyTester>
   </extension>

</plugin>
