<?xml version="1.0" encoding="UTF-8"?>
<!--
   REDHAWK HEADER

   Identification: $Revision: 9033 $
 -->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="gov.redhawk.ui.category.sca"
            class="gov.redhawk.internal.ui.port.nxmplot.view.PlotView"
            icon="icons/SDU.gif"
            id="gov.redhawk.ui.port.nxmplot.portdata"
            name="Port Data (Legacy)"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            category="gov.redhawk.ui.category.sca"
            class="gov.redhawk.internal.ui.port.nxmplot.view.PlotView2"
            icon="icons/SDU.gif"
            id="gov.redhawk.ui.port.nxmplot.PlotView2"
            name="Port Data"
            restorable="false">
         <description>
            Plots data from an SCA Port.
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            defaultHandler="gov.redhawk.internal.ui.port.nxmplot.handlers.PlotPortHandler"
            id="gov.redhawk.ui.port.nxmplot.command.plot"
            name="Plot port">
         <commandParameter
               id="gov.redhawk.ui.port.nxmplot.type"
               name="Plot Type"
               optional="true">
         </commandParameter>
         <commandParameter
               id="gov.redhawk.ui.port.nxmplot.isFft"
               name="Use FFT"
               optional="true">
         </commandParameter>
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="gov.redhawk.ui.port.nxmplot.command.plot"
               icon="icons/SDU.gif"
               label="Plot Port Data"
               style="push">
            <parameter
                  name="gov.redhawk.ui.port.nxmplot.type"
                  value="LINE">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="gov.redhawk.model.sca.ScaUsesPort">
                  </adapt>
                  <test
                        forcePluginActivation="true"
                        property="gov.redhawk.ui.port.interface"
                        value="IDL:BULKIO/data.*">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <menu
               icon="icons/SDU.gif"
               label="Plot Port Data As">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="gov.redhawk.model.sca.ScaUsesPort">
                  </adapt>
                  <test
                        forcePluginActivation="true"
                        property="gov.redhawk.ui.port.interface"
                        value="IDL:BULKIO/data.*">
                  </test>
               </iterate>
            </visibleWhen>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Line"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="LINE">
               </parameter>
            </command>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Raster"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="RASTER">
               </parameter>
            </command>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Point"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="POINT">
               </parameter>
            </command>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Dot"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="DOT">
               </parameter>
            </command>
         </menu>
         <command
               commandId="gov.redhawk.ui.port.nxmplot.command.plot"
               icon="icons/SDU.gif"
               label="Plot Port FFT"
               style="push">
            <parameter
                  name="gov.redhawk.ui.port.nxmplot.type"
                  value="LINE">
            </parameter>
            <parameter
                  name="gov.redhawk.ui.port.nxmplot.isFft"
                  value="true">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="gov.redhawk.model.sca.ScaUsesPort">
                  </adapt>
                  <test
                        property="gov.redhawk.ui.port.interface"
                        value="IDL:BULKIO/data.*">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <menu
               icon="icons/SDU.gif"
               label="Plot Port FFT As">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="gov.redhawk.model.sca.ScaUsesPort">
                  </adapt>
                  <test
                        property="gov.redhawk.ui.port.interface"
                        value="IDL:BULKIO/data.*">
                  </test>
               </iterate>
            </visibleWhen>
               <command
                     commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                     label="Line"
                     style="push">
                  <parameter
                        name="gov.redhawk.ui.port.nxmplot.type"
                        value="LINE">
                  </parameter>
                  <parameter
                        name="gov.redhawk.ui.port.nxmplot.isFft"
                        value="true">
                  </parameter>
               </command>
               <command
                     commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                     label="Raster"
                     style="push">
                  <parameter
                        name="gov.redhawk.ui.port.nxmplot.type"
                        value="RASTER">
                  </parameter>
                  <parameter
                        name="gov.redhawk.ui.port.nxmplot.isFft"
                        value="true">
                  </parameter>
               </command>
         </menu>
         <command
               commandId="gov.redhawk.ui.port.nxmplot.command.plot"
               icon="icons/SDU.gif"
               label="Plot Port ..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="gov.redhawk.model.sca.ScaUsesPort">
                  </adapt>
                  <test
                        forcePluginActivation="true"
                        property="gov.redhawk.ui.port.interface"
                        value="IDL:BULKIO/data.*">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="BULKIO.StreamSRI"
            class="gov.redhawk.internal.ui.StreamSRIAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySourceProvider">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>

</plugin>
