<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<!--
   REDHAWK HEADER

   Identification: $Revision: 9033 $
 -->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="gov.redhawk.ui.category.sca"
            class="gov.redhawk.internal.ui.port.nxmplot.view.PlotView2"
            icon="icons/view16/plot_view.gif"
            id="gov.redhawk.ui.port.nxmplot.PlotView2"
            name="Port Data"
            restorable="false">
         <description>
            Plots data from an REDHAWK port.
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            defaultHandler="gov.redhawk.internal.ui.port.nxmplot.handlers.PlotPortHandler"
            id="gov.redhawk.ui.port.nxmplot.command.plot"
            name="Plot port">
         <commandParameter
               id="gov.redhawk.ui.port.nxmplot.type"
               name="Plot Type"
               optional="true">
         </commandParameter>
         <commandParameter
               id="gov.redhawk.ui.port.nxmplot.isFft"
               name="Use FFT"
               optional="true">
         </commandParameter>
         <commandParameter
               id="gov.redhawk.ui.port.nxmplot.connectionID"
               name="Connection ID to use"
               optional="true">
         </commandParameter>
         <commandParameter
               id="gov.redhawk.ui.port.nxmplot.secondaryId"
               name="Secondary ID to use"
               optional="true">
         </commandParameter>
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <separator
               name="gov.redhawk.ui.port.nxmplot.separator.start"
               visible="true">
         </separator>
         <command
               commandId="gov.redhawk.ui.port.nxmplot.command.plot"
               icon="icons/view16/plot_view.gif"
               label="Plot Port Data"
               style="push">
            <parameter
                  name="gov.redhawk.ui.port.nxmplot.type"
                  value="LINE">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="gov.redhawk.model.sca.ScaUsesPort">
                     <test
                           property="gov.redhawk.sca.model.port.interface"
                           value="IDL:BULKIO/data.*">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <menu
               icon="icons/view16/plot_view.gif"
               label="Plot Port Data As">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="gov.redhawk.model.sca.ScaUsesPort">
                     <test
                           property="gov.redhawk.sca.model.port.interface"
                           value="IDL:BULKIO/data.*">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Line"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="LINE">
               </parameter>
            </command>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Raster"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="RASTER">
               </parameter>
            </command>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Point"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="POINT">
               </parameter>
            </command>
            <command
                  commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                  label="Dot"
                  style="push">
               <parameter
                     name="gov.redhawk.ui.port.nxmplot.type"
                     value="DOT">
               </parameter>
            </command>
         </menu>
         <command
               commandId="gov.redhawk.ui.port.nxmplot.command.plot"
               icon="icons/view16/plot_view.gif"
               label="Plot Port FFT"
               style="push">
            <parameter
                  name="gov.redhawk.ui.port.nxmplot.type"
                  value="LINE">
            </parameter>
            <parameter
                  name="gov.redhawk.ui.port.nxmplot.isFft"
                  value="true">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="gov.redhawk.model.sca.ScaUsesPort">
                     <test
                           property="gov.redhawk.sca.model.port.interface"
                           value="IDL:BULKIO/data.*">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <menu
               icon="icons/view16/plot_view.gif"
               label="Plot Port FFT As">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="gov.redhawk.model.sca.ScaUsesPort">
                     <test
                           property="gov.redhawk.sca.model.port.interface"
                           value="IDL:BULKIO/data.*">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
               <command
                     commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                     label="Line"
                     style="push">
                  <parameter
                        name="gov.redhawk.ui.port.nxmplot.type"
                        value="LINE">
                  </parameter>
                  <parameter
                        name="gov.redhawk.ui.port.nxmplot.isFft"
                        value="true">
                  </parameter>
               </command>
               <command
                     commandId="gov.redhawk.ui.port.nxmplot.command.plot"
                     label="Raster"
                     style="push">
                  <parameter
                        name="gov.redhawk.ui.port.nxmplot.type"
                        value="RASTER">
                  </parameter>
                  <parameter
                        name="gov.redhawk.ui.port.nxmplot.isFft"
                        value="true">
                  </parameter>
               </command>
         </menu>
         <command
               commandId="gov.redhawk.ui.port.nxmplot.command.plot"
               icon="icons/view16/plot_view.gif"
               label="Plot Port ..."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="gov.redhawk.model.sca.ScaUsesPort">
                     <test
                           property="gov.redhawk.sca.model.port.interface"
                           value="IDL:BULKIO/data.*">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="gov.redhawk.ui.port.nxmplot.separator.end"
               visible="false">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="BULKIO.StreamSRI"
            class="gov.redhawk.internal.ui.StreamSRIAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySourceProvider">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="gov.redhawk.ui.preferences"
            class="gov.redhawk.internal.ui.preferences.PlotPreferencePage"
            id="gov.redhawk.ui.port.nxmplot.preferences.PlotPreferencePage"
            name="%plot.pref.page.name">
      </page>
      <page
            category="gov.redhawk.ui.port.nxmplot.preferences.PlotPreferencePage"
            class="gov.redhawk.internal.ui.preferences.FftBlockPreferencePage"
            id="gov.redhawk.ui.port.nxmplot.page1"
            name="FFT">
      </page>
      <page
            category="gov.redhawk.ui.port.nxmplot.preferences.PlotPreferencePage"
            class="gov.redhawk.internal.ui.preferences.BulkIOBlockPreferencePage"
            id="gov.redhawk.ui.port.nxmplot.page2"
            name="BulkIO">
      </page>
      <page
            category="gov.redhawk.ui.port.nxmplot.preferences.PlotPreferencePage"
            class="gov.redhawk.internal.ui.preferences.SddsBlockPreferencePage"
            id="gov.redhawk.ui.port.nxmplot.page_sdds"
            name="SDDS">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="gov.redhawk.internal.ui.preferences.PlotPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="gov.redhawk.ide.ui.perspectives.sca">
         <view
               id="gov.redhawk.ui.port.nxmplot.PlotView2"
               minimized="false"
               ratio="0.25"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
