<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
 
-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="corbaViewParts" name="%extension-point.name" schema="schema/corbaViewParts.exsd"/>
   <extension-point id="scaContentTypes" name="%extension-point.name.0" schema="schema/scaContentTypes.exsd"/>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="gov.redhawk.sca.ui.ScaContentProvider"
            icon="icons/obj16/sca_explorer.png"
            id="gov.redhawk.ui.navigatorContent"
            labelProvider="gov.redhawk.sca.ui.ScaLabelProvider"
            name="%navigatorContent.name"
            priority="normal"
            providesSaveables="false"
            sortOnly="false">
         <actionProvider
               class="gov.redhawk.sca.internal.ui.actions.OpenWithActionProvider"
               id="gov.redhawk.ui.commonActionProvider">
            <enablement>
               <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecore.namespace"
                        value="http://www.redhawk.gov/model/sca/2.0.0">
                  </test>
               </and>
               <instanceof
                     value="gov.redhawk.model.sca.provider.ScaWaveformsContainerItemProvider">
               </instanceof>
               <instanceof
                     value="gov.redhawk.model.sca.provider.ScaWaveformFactoriesContainerItemProvider">
               </instanceof>
               <instanceof
                     value="gov.redhawk.model.sca.provider.ScaDeviceManagersContainerItemProvider">
               </instanceof>
            </or>
            </enablement>
         </actionProvider>
         <triggerPoints>
            <instanceof
                  value="gov.redhawk.model.sca.ScaDomainManagerRegistry">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecore.namespace"
                        value="http://www.redhawk.gov/model/sca/2.0.0">
                  </test>
               </and>
               <instanceof
                     value="gov.redhawk.model.sca.provider.ScaWaveformsContainerItemProvider">
               </instanceof>
               <instanceof
                     value="gov.redhawk.model.sca.provider.ScaWaveformFactoriesContainerItemProvider">
               </instanceof>
               <instanceof
                     value="gov.redhawk.model.sca.provider.ScaWaveformExternalPortsItemProvider">
               </instanceof>
               <instanceof
                     value="gov.redhawk.model.sca.provider.ScaDeviceManagersContainerItemProvider">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
            </or>
         </possibleChildren>
         <commonSorter
               class="gov.redhawk.sca.ui.ScaViewerSorter">
         </commonSorter>
         <dropAssistant
               class="gov.redhawk.sca.ui.actions.ResourceDropAdapterAssistant"
               id="gov.redhawk.sca.ui.dropAssistant.resource">
            <possibleDropTargets>
               <or>
                  <instanceof
                        value="gov.redhawk.model.sca.ScaFileStore">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
               </or></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            description="%commonFilter.description"
            id="gov.redhawk.ui.filter.waveform_factories"
            name="%commonFilter.name">
         <filterExpression>
            <instanceof
                  value="gov.redhawk.model.sca.provider.ScaWaveformFactoriesContainerItemProvider">
            </instanceof>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            description="%commonFilter.description.0"
            id="gov.redhawk.ui.filter.waveform_components"
            name="%commonFilter.name.0">
         <filterExpression>
            <instanceof
                  value="gov.redhawk.model.sca.provider.ScaWaveformsContainerItemProvider">
            </instanceof>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            description="%commonFilter.description.1"
            id="gov.redhawk.ui.filter.device_managers"
            name="%commonFilter.name.1">
         <filterExpression>
            <instanceof
                  value="gov.redhawk.model.sca.provider.ScaDeviceManagersContainerItemProvider">
            </instanceof>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            description="%commonFilter.description.2"
            id="gov.redhawk.ui.filter.domain_file_managers"
            name="%commonFilter.name.2">
         <filterExpression>
            <instanceof
                  value="gov.redhawk.model.sca.ScaFileManager">
            </instanceof>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="gov.redhawk.sca.ui.filters.DeviceManagerChildDevicesFilter"
            description="%commonFilter.description.3"
            id="gov.redhawk.ui.filter.child_devices"
            name="%commonFilter.name.3">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="gov.redhawk.ui.sca_explorer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="gov.redhawk.ui.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="gov.redhawk.ui.filter.*">
            </contentExtension>
            <contentExtension
                  pattern="gov.redhawk.ui.drop.*">
            </contentExtension>
		</includes>
      </viewerContentBinding>
      <viewer
            viewerId="gov.redhawk.ui.sca_explorer">
            <popupMenu
                allowsPlatformContributions="true"
                id="gov.redhawk.ui.sca_explorer#PopupMenu">  
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>
             <insertionPoint
                   name="group.control"
                   separator="true">
             </insertionPoint>   
             <insertionPoint name="group.edit"
                   separator="true"/>   
             <insertionPoint name="group.reorganize" />         
             <insertionPoint
                   name="group.port"
                   separator="true"/>     
             <insertionPoint
                   name="group.build"
                   separator="true"/> 
             <insertionPoint
                   name="group.generate"
                   separator="true"/> 
             <insertionPoint
                   name="group.search"
                   separator="true"/>              
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="group.properties"
                   separator="true"/>
                     </popupMenu>
            <options>
               <property
                     name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                     value="true">
               </property>
               <property
                     name="org.eclipse.ui.navigator.hideAvailableExtensionsTab"
                     value="true">
               </property>
            </options>
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="gov.redhawk.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="gov.redhawk.ui.category.sca"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="gov.redhawk.sca.ui.preferences.RedhawkPreferencePage"
            id="gov.redhawk.ui.preferences"
            name="%page.name">
      </page>
      <page
            category="gov.redhawk.ui.preferences"
            class="gov.redhawk.sca.ui.preferences.RedhawkScaPreferencePage"
            id="gov.redhawk.ui.preferences.sca"
            name="%page.name.0">
      </page>
      <page
            category="gov.redhawk.ui.preferences"
            class="gov.redhawk.sca.internal.ui.preferences.DataProviderPreferencePage"
            id="gov.redhawk.ui.preferences.dataProviders"
            name="%page.name.1">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.emf.ecore.EObject"
            class="gov.redhawk.sca.ui.RedhawkUiAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource2">
         </adapter>
      </factory>
      <factory
            adaptableType="gov.redhawk.model.sca.IStatusProvider"
            class="gov.redhawk.sca.internal.ui.StatusProviderObjectAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.edit.provider.IWrapperItemProvider"
            class="gov.redhawk.sca.ui.RedhawkUiAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.ecore.util.FeatureMap.Entry"
            class="gov.redhawk.sca.ui.RedhawkUiAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource2">
         </adapter>
      </factory>
      <factory
            adaptableType="gov.redhawk.model.sca.ScaDomainManager"
            class="gov.redhawk.sca.internal.ui.ScaDomainManagerAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource2">
         </adapter>
      </factory>
      <factory
            adaptableType="gov.redhawk.model.sca.ScaPort"
            class="gov.redhawk.sca.internal.ui.ScaPortAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource2">
         </adapter>
      </factory>
      <factory
            adaptableType="gov.redhawk.model.sca.ScaNegotiatedConnection"
            class="gov.redhawk.sca.internal.ui.ScaNegotiatedConnectionAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource2">
         </adapter>
      </factory>
      <factory
            adaptableType="gov.redhawk.model.sca.provider.ScaWaveformsContainerItemProvider"
            class="gov.redhawk.sca.internal.ui.ScaWaveformsContainerItemProviderAdapterFactory">
         <adapter
               type="gov.redhawk.model.sca.IRefreshable">
         </adapter>
      </factory>
      <factory
            adaptableType="gov.redhawk.model.sca.provider.ScaEventChannelsContainerItemProvider"
            class="gov.redhawk.sca.internal.ui.ScaEventChannelsContainerItemProviderAdapterFactory">
         <adapter
               type="gov.redhawk.model.sca.IRefreshable">
         </adapter>
      </factory>
      <factory
            adaptableType="gov.redhawk.model.sca.provider.ScaWaveformFactoriesContainerItemProvider"
            class="gov.redhawk.sca.internal.ui.ScaWaveformFactoriesContainerItemProviderAdapterFactory">
         <adapter
               type="gov.redhawk.model.sca.IRefreshable">
         </adapter>
      </factory>
      <factory
            adaptableType="gov.redhawk.model.sca.provider.ScaDeviceManagersContainerItemProvider"
            class="gov.redhawk.sca.internal.ui.ScaDeviceManagersContainerItemProviderAdapterFactory">
         <adapter
               type="gov.redhawk.model.sca.IRefreshable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="gov.redhawk.ui.sca_explorer"
            labelProvider="gov.redhawk.sca.ui.TabbedPropertySheetTitleProvider">
         <propertyCategory
               category="general"></propertyCategory>
         <propertyCategory
               category="core">
         </propertyCategory>
         <propertyCategory
               category="appearance">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
         <propertyCategory
               category="frontend">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="gov.redhawk.ui.sca_explorer">
         <propertyTab
               category="general"
               id="gov.redhawk.sca.ui.properties.propertyTab.PortDetails"
               label="%propertyTab.label.2">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="CommonNavigator.tab.Advanced"
               label="%propertyTab.label.1">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="gov.redhawk.ui.sca_explorer">
         <propertySection
               class="gov.redhawk.sca.ui.properties.PortDetailsPropertySection"
               enablesFor="1"
               id="gov.redhawk.sca.ui.properties.propertySection.PortDetails"
               tab="gov.redhawk.sca.ui.properties.propertyTab.PortDetails">
            <input
                  type="gov.redhawk.model.sca.ScaPort">
            </input>
            <input
                  type="mil.jpeojtrs.sca.scd.AbstractPort">
            </input>
         </propertySection>
         <propertySection
               afterSection="200"
               class="gov.redhawk.sca.ui.properties.PortInterfacePropertiesSection"
               enablesFor="1"
               id="gov.redhawk.sca.ui.properties.propertySection.PortInterface"
               tab="gov.redhawk.sca.ui.properties.propertyTab.PortDetails">
            <input
                  type="gov.redhawk.model.sca.ScaPort">
            </input>
            <input
                  type="mil.jpeojtrs.sca.scd.AbstractPort">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               filter="gov.redhawk.sca.ui.filters.AdvancedPropertiesExtensibleFilter"
               id="CommonNavigator.section.Advanced"
               tab="CommonNavigator.tab.Advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="gov.redhawk.ui.commands.category.sca"
            name="%category.name.0">
      </category>
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            defaultHandler="gov.redhawk.sca.internal.ui.handlers.StartResouceOpHandler"
            id="gov.redhawk.ui.command.resource.start"
            name="%command.name.0">
      </command>
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            defaultHandler="gov.redhawk.sca.internal.ui.handlers.StopResourceOpHandler"
            id="gov.redhawk.ui.command.resource.stop"
            name="%command.name.1">
      </command>
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            defaultHandler="gov.redhawk.sca.internal.ui.handlers.LaunchWaveformHandler"
            id="gov.redhawk.ui.command.waveform.launch"
            name="%command.name.2">
      </command>
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            id="gov.redhawk.ui.command.connect"
            name="%command.name.3">
      </command>
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            id="gov.redhawk.ui.command.disconnect"
            name="%command.name.4">
      </command>
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            defaultHandler="gov.redhawk.sca.internal.ui.handlers.NewDomainHandler"
            id="gov.redhawk.ui.command.new_domain"
            name="%command.name.5">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.control">
         <command
               commandId="gov.redhawk.ui.command.connect"
               icon="icons/clcl16/connect.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.ui.command.disconnect"
               icon="icons/clcl16/disconnect.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.ui.command.resource.start"
               icon="icons/clcl16/play.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="CF.ResourceOperations">
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.ui.command.resource.stop"
               icon="icons/clcl16/stop.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="CF.ResourceOperations">
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:gov.redhawk.ui.sca_explorer?after=additions">
         <command
               commandId="gov.redhawk.ui.command.new_domain"
               icon="icons/clcl16/add.gif"
               id="gov.redhawk.ui.menucontribution.new_domain"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.new">
         <command
               commandId="gov.redhawk.ui.command.waveform.launch"
               icon="icons/clcl16/new_waveform.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="gov.redhawk.model.sca.ScaDomainManager">
                     </instanceof>
                     <instanceof
                           value="gov.redhawk.model.sca.provider.ScaWaveformFactoriesContainerItemProvider">
                     </instanceof>
                     <instanceof
                           value="gov.redhawk.model.sca.provider.ScaWaveformsContainerItemProvider">
                     </instanceof>
                     <instanceof
                           value="gov.redhawk.model.sca.ScaWaveformFactory">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="%command.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="gov.redhawk.model.sca.ScaWaveformFactory">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="gov.redhawk.model.sca.ScaDomainManager">
                     </instanceof>
                     <instanceof
                           value="gov.redhawk.model.sca.ScaFileStore">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               icon="icons/clcl16/Release.gif"
               label="%command.label.0"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <adapt
                           type="CF.LifeCycleOperations">
                     </adapt>
                     <instanceof
                           value="gov.redhawk.model.sca.ScaEventChannel">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="%command.label.1"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="CF.DeviceManagerOperations">
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="%command.label.2"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="gov.redhawk.model.sca.ScaConnection">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=group.control">
         <separator
               name="gov.redhawk.sca.ui.separator.refresh"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.refresh"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="gov.redhawk.model.sca.IRefreshable">
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.RemoveDomainHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="gov.redhawk.model.sca.ScaDomainManager">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.ReleaseHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="CF.LifeCycleOperations">
               </adapt>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.ReleaseEventChannelHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="gov.redhawk.model.sca.ScaEventChannel">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.ShutdownNodeHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="CF.DeviceManagerOperations">
               </adapt>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.ConnectDomainHandler"
            commandId="gov.redhawk.ui.command.connect">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     property="gov.redhawk.sca.model.dommgr.connected"
                     value="false">
               </test>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.DisconnectDomainHandler"
            commandId="gov.redhawk.ui.command.disconnect">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     property="gov.redhawk.sca.model.dommgr.connected"
                     value="true">
               </test>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.ConnectPortHandler"
            commandId="gov.redhawk.ui.command.connect">
         <activeWhen>
            <or>
            <and>
               <count
                     value="2">
               </count>
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="gov.redhawk.model.sca.ScaUsesPort">
                     </adapt>
                  </iterate>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <adapt
                              type="gov.redhawk.model.sca.ScaProvidesPort">
                        </adapt>
                        <adapt
                              type="gov.redhawk.model.sca.ScaComponent">
                        </adapt>
                     </or></iterate></and>
            </and>
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <adapt
                           type="gov.redhawk.model.sca.ScaUsesPort">
                     </adapt>
                     <adapt
                           type="gov.redhawk.model.sca.ScaProvidesPort">
                     </adapt>
                     <adapt
                           type="gov.redhawk.model.sca.ScaComponent">
                     </adapt>
                  </or>
               </iterate>
            </and>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.DisconnectPortHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="gov.redhawk.model.sca.ScaConnection">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.RefreshHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="gov.redhawk.model.sca.IRefreshable">
               </adapt>
            </iterate>
         </activeWhen>
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="gov.redhawk.model.sca.IRefreshable">
               </adapt>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.DeleteScaFileStoreHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="gov.redhawk.model.sca.ScaFileStore">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="gov.redhawk.sca.internal.ui.ScaDomainManagerDecorator"
            id="gov.redhawk.ui.domainmanager.decorator"
            label="%decorator.label"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="gov.redhawk.model.sca.ScaDomainManager">
            </objectClass>
         </enablement>
         <description>
            %decorator.description
         </description>
      </decorator>
      <decorator
            class="gov.redhawk.sca.internal.ui.StatusDataProviderDecorator"
            id="gov.redhawk.sca.ui.decorator.dataProvider"
            label="%decorator.label.0"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="gov.redhawk.model.sca.IStatusProvider">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            class="gov.redhawk.sca.internal.ui.StartedDecorator"
            id="gov.redhawk.sca.ui.decorator.started"
            label="%decorator.label.1"
            lightweight="false"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="gov.redhawk.model.sca.ScaAbstractComponent">
               </objectClass>
               <objectClass
                     name="gov.redhawk.model.sca.ScaWaveform">
               </objectClass>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="gov.redhawk.ui.sca_explorer">
         <propertyTab
               category="general"
               id="gov.redhawk.sca.ui.properties.propertyTab"
               label="%propertyTab.label.0">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="gov.redhawk.ui.sca_explorer">
         <propertySection
               class="gov.redhawk.sca.ui.properties.ComponentPropertiesPropertySection"
               id="gov.redhawk.sca.ui.properties.propertySection"
               tab="gov.redhawk.sca.ui.properties.propertyTab">
            <input
                  type="gov.redhawk.model.sca.ScaPropertyContainer">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="gov.redhawk.sca.ui.scaContentTypes">
      <contentType
            id="mil.jpeojtrs.sca.sad.contentType"
            name="SAD Content Type"
            priority="LOW">
         <describer
               class="gov.redhawk.sca.ui.editors.EObjectContentDescriber"
               plugin="gov.redhawk.sca.ui">
            <parameter
                  name="fileName"
                  value=".*sad.xml"></parameter>
         </describer>
      </contentType>
       <contentType
            id="gov.redhawk.ui.sad.contentType"
            name="Waveform Content Type"
            priority="LOW">
         <describer
               class="gov.redhawk.sca.ui.describers.ScaWaveformDescriber"
               plugin="gov.redhawk.sca.ui">
         </describer>
      </contentType>
      <contentType
            id="gov.redhawk.ui.scd.contentType"
            name="SCD Content Type"
            priority="LOW">
         <describer
               class="gov.redhawk.sca.ui.editors.EObjectContentDescriber"
               plugin="gov.redhawk.sca.ui">
            <parameter
                  name="fileName"
                  value=".*scd.xml">
            </parameter>
         </describer>
      </contentType>
      <contentType
            id="gov.redhawk.ui.prf.prf.contentType"
            name="PRF Content Type"
            priority="LOW">
         <describer
               class="gov.redhawk.sca.ui.editors.EObjectContentDescriber"
               plugin="gov.redhawk.sca.ui">
            <parameter
                  name="fileName"
                  value=".*scd.xml">
            </parameter>
         </describer>
      </contentType>
      <contentType
            id="mil.jpeojtrs.sca.spd.contentType"
            name="SPD Content Type"
            priority="LOW">
         <describer
               class="gov.redhawk.sca.ui.editors.EObjectContentDescriber"
               plugin="gov.redhawk.sca.ui">
            <parameter
                  name="fileName"
                  value=".*spd.xml">
            </parameter>
         </describer>
      </contentType>
      <contentType
            id="mil.jpeojtrs.sca.dmd.contentType"
            name="DMD Content Type"
            priority="LOW">
         <describer
               class="gov.redhawk.sca.ui.editors.EObjectContentDescriber"
               plugin="gov.redhawk.sca.ui">
            <parameter
                  name="fileName"
                  value=".*dmd.xml">
            </parameter>
         </describer>
      </contentType>
      <contentType
            id="mil.jpeojtrs.sca.dcd.contentType"
            name="DCD Content Type"
            priority="LOW">
         <describer
               class="gov.redhawk.sca.ui.editors.EObjectContentDescriber"
               plugin="gov.redhawk.sca.ui">
            <parameter
                  name="fileName"
                  value=".*dcd.xml">
            </parameter>
         </describer>
      </contentType>
      <contentType
            id="mil.jpeojtrs.sca.dpd.contentType"
            name="DPD Content Type"
            priority="LOW">
         <describer
               class="gov.redhawk.sca.ui.editors.EObjectContentDescriber"
               plugin="gov.redhawk.sca.ui">
            <parameter
                  name="fileName"
                  value=".*dpd.xml">
            </parameter>
         </describer>
      </contentType>
      <contentType
            id="gov.redhawk.idl.contentType"
            name="IDL Content Type"
            priority="LOW">
         <describer
               class="gov.redhawk.sca.ui.editors.EObjectContentDescriber"
               plugin="gov.redhawk.sca.ui">
            <parameter
                  name="fileName"
                  value=".*idl">
            </parameter>
         </describer>
      </contentType>
      <contentTypeBinding
            contentTypeId="gov.redhawk.idl.contentType"
            editorId="org.eclipse.ui.DefaultTextEditor"
            priority="LOW">
      </contentTypeBinding>
      <contentType
            id="gov.redhawk.ui.dcd.contentType"
            name="Device Manager Content Type"
            priority="LOW">
         <describer
               class="gov.redhawk.sca.ui.describers.ScaDeviceManagerDescriber"
               plugin="gov.redhawk.sca.ui">
         </describer>
      </contentType>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="gov.redhawk.ui.category.sca"
            class="gov.redhawk.sca.ui.views.ScaExplorerRcp"
            icon="icons/obj16/sca_explorer.png"
            id="gov.redhawk.ui.sca_explorer"
            name="REDHAWK Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="gov.redhawk.model.sca.ScaFileStore">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="gov.redhawk.model.sca.ScaFileStore">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
     </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.ScaFileStoreCopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="gov.redhawk.model.sca.ScaFileStore">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="gov.redhawk.sca.internal.ui.handlers.ScaFileStorePastActionHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="gov.redhawk.model.sca.ScaFileStore">
               </instanceof>
            </iterate>
         </activeWhen>
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="gov.redhawk.sca.ui.preferences.RedhawkPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
